name: test

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        node-version: [20.x]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm ci
        env:
          CI: true

      - name: Check formatting and linting
        run: |
          npm run check
        env:
          CI: true

      - name: Run gauge ts unit tests
        run: |
          npm test -w gauge-ts
        env:
          CI: true

  build-artifacts:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Create artifact
        run: |
          npm ci
          npm run package -w gauge-ts
          npm pack -w gauge-ts
          mv ./gauge-ts-*.tgz ./gauge-ts/artifacts

      - name: Upload artifacts for local
        uses: actions/upload-artifact@v1
        with:
          name: gauge-ts
          path: ./artifacts

  e2e-test:
    needs: build-artifacts
    strategy:
      matrix:
        node-version: [20.x]
        os: [macOS-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm dependencies
        run: |
          npm ci

      - uses: actions/download-artifact@v1
        with:
          name: gauge-ts
          path: ./artifacts

      - name: Install gauge-ts
        run: |
          npx gauge install ts -f ./artifacts/gauge-ts-*.zip
        shell: bash

      - name: Run functional tests
        run: |
          npm run test -w e2e
        shell: bash
